---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if page.title %}{{ page.title }}{% else %}{{ page.category }}{% endif %}
    </h1>
    {% if page.description %}
    <h2 class="post-description">{{ page.description }}</h2>
    {% endif %}
  </header>

  <article>
    <div class="people">
      {%- assign categorized_people = site.people | where: "category", page.category -%}
      {%- assign sorted_people = categorized_people | sort: "year" | reverse -%}
      
      <div class="grid">
        {%- for person in sorted_people -%}
          {%- if person.show -%}
            {% include people.liquid person=person %}
          {%- endif -%}
        {%- endfor %}
      </div>

      {%- unless sorted_people.size > 0 -%}
        <p class="text-center mt-4">No people found in this category.</p>
      {%- endunless -%}
    </div>

    {{ content }}
  </article>
</div>